# copier ce fichier dans un new file sans le '.template' dans le filename
# puis dans le fichier obtenu, remplacer les placeholders __XXX__ ci-dessous par les values des env variables
# ATTENTION de ne pas commiter ce fichier dans github
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret
type: Opaque
data:
  # replace the placeholder with the output of the command 'cat ~/.aws/credentials | base64'
  credentials: ___INSERT_AWS_CREDENTIALS_FILE__BASE64____
