# copier ce fichier dans un new file sans le '.template' dans le filename
# puis dans le fichier obtenu, remplacer les placeholders __XXX__ ci-dessous par les values des env variables
# ATTENTION de ne pas commiter ce fichier dans github
apiVersion: v1
kind: Secret
metadata:
  name: env-secret
type: Opaque
data:
  # IMPORTANT: replace the  placeholders by the output of the command
  # echo -n <POSTGRESS_XXX> | base64 | tr -d '\n'
  POSTGRESS_USERNAME: ___INSERT_POSTGRESS_USERNAME__BASE64___
  POSTGRESS_PASSWORD: ___INSERT_POSTGRESS_PASSWORD__BASE64___